/* --- Formulario --- */
.product-form-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
}

.product-form-card h2 {
    color: #4a5568;
    margin-bottom: 25px;
    font-size: 1.5rem;
    border-bottom: 2px solid #5a67d8;
    padding-bottom: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #4a5568;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.form-group input:focus {
    border-color: #5a67d8;
    outline: none;
    box-shadow: 0 0 0 1px #5a67d8;
}

.form-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #5a67d8;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form-submit-button:hover {
    background-color: #434190;
}


/* En Products.css o tu archivo de estilos de formulario */
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s;
    /* Estilos adicionales para select */
    height: 40px; /* Igualar la altura de los inputs */
    appearance: none; /* Quitar estilo nativo en Chrome/FF */
    background-color: white;
    color: #43434a;
}